
/*Header part*/
body{
    font-family: 'Montserrat', sans-serif;
}

.footer{
    height: 64px;
    width: auto;
    background-color: white;
    display: flex;
    overflow:hidden ;
    font-family: 'Montserrat', sans-serif;
align-items: center;
}

.colmar{
    font-weight: 800;
}
.academy{
    font-weight: 100;
}
a{
    margin: 16px;
    list-style: none;
}
.logo{
    align-items: right;
    margin-left: 24px;
    height: 42px;
    }

.topnav-right{
float: right;
flex: 1;
    display: flex;
    align-content: center;
    justify-content: flex-end;
}
.mobile{
    display: none;
}

@media only screen and (max-width:500px) {

   .footer{

    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   } 
   .logo{
    margin-left: 0px;
    align-items: left;
    height: 40px;
   }
   .mobile{
    display: block;
    height: 40px;
   }
   .topnav-right{
    display: none;
   }
   .a{
    display: none;
   }
   .Colmar{
    display: none;
   }
   .academy{
    display: none;
   }
   
}


/*cover part*/

.cover{
    background-color: gainsboro;
    font-family: 'Montserrat', sans-serif;
   display: flex;
   
}
.cover-img{
    width: 57.15%;
    margin: 32px 24px;
}
.learn{
    color: #363636;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.learn-cover{
    font-size: 36px;
    margin-bottom: 15px;
}
.text-cover{
    border-bottom: 18px;
}
button{
background-color: #363636;
color: gainsboro; ;
border: none;
padding: 15px 32px;
text-align: center;
text-decoration: none;
justify-content: center;
font-size: 16px;
}
.box-cover{
    display: flex;
    flex-direction: column;
    margin-right: 54px;
}
@media only screen and (max-width:500px) {
    .cover{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cover-img{
        width: 100%;
        margin-top: 0px;
    }
    .box-cover{
        margin-left: 16px;
        margin-bottom: 32px;

    }
}

/* main */
.info-container{
    display: flex;
    flex-direction: row;
    padding-bottom: 32px;
}
.pic-container{
    max-width: 60%;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
}
/* left photo */
.info-img{
    max-width: 100%;
    margin: 32px 24px;
}
.text-photo{
    display: flex;
    flex-direction: column;
}
.practice{
    margin-top: 0px;
    color: #363636;
    font-size: 30px;
    
}
.practice-text{
    margin-top: 0px;
    color: #363636;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
}
.info-txt{
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
}

/* Content right */
.right-info{
    display: flex;
    max-width: 40%;
    overflow: hidden;
    flex-direction: column;
}
.element1{
    height: auto;
    width: 35%;
    padding: 16px;
}
.card-info{
    padding-left: 16px;
    padding-top: 16px;
    display: inline-flex;
    border: 1px solid gainsboro;;
}
.card-info1{
    padding-left: 16px;
    display: inline-flex;
    border: 1px solid gainsboro;;
}
.card-info2{
    padding-left: 16px;
    display: inline-flex;
    border: 1px solid gainsboro;;
    background-color:  gainsboro;
}
.pic-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#card-head{
    font-weight: 500;
    margin: 0px;
    font-size: 32px;
}
#card-body{
    font-size: 18px;
font-weight: 400;
margin-top: 8px;
margin-bottom: 8px;
}
#card-link{
    font-size: 18px;
    font-weight: 500;
    color: dodgerblue;
    margin: 0px;
}
.mobile1{
    display:none; 
}
@media only screen and (max-width:500px) {
    .right-info{
        display: flex;
    max-width: 100%;
    flex-direction: column;
    }
    .text-photo{
    display: none;
}
.element1{
    display: none;
}
.mobile1{
    display: block;
    width: 100%;
}
.info-container{
    width: 100%;
    display: flex;
    padding-bottom: 0px;
}
.card-info{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: 0px ;
    padding-bottom: 64px;
    padding-top: 16px;
    padding-left: 0px;
}
.card-info1{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: 0px ;
    padding-bottom: 64px;
    padding-top: 0px;
    padding-left: 0px;
}
.card-info2{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: 0px ;
    padding-bottom: 64px;
    background-color: white;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}


}
/* Start learning */ 

                                    /* Have a look at display here */
.main-start{ 
    background-color:  gainsboro;
    display: block;   
    padding-bottom: 32px;
}

.card-main-head{
    padding-top: 32px;
    text-align: center;
    color: rgb(94, 93, 93);
    margin: 32px;
    font-size: 40px;
}

.card-cont{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 32px;
    
}

.card{
   display: grid;
   grid-template-rows: max-content 200px 1fr;
background-color: white;

}
.card img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.container{
    padding: 16px
}

b{
    font-weight: 700;
    font-size: large;
    color: rgb(94, 93, 93);
}
.courses{
    font-weight: 300;
    font-size: medium;
}
.para-card{
    color:  rgb(159, 155, 155);;
}

@media only screen and (max-width:500px) {
    .card-main-head{
        padding-top: 0px;
    }
    .card-cont{
        display: contents;
    }
    .container{
        padding: 0px;
    }
    .card{
        display: contents;
    }
    .main-start{
        background-color: white;
    }
    .card-cont img{
        display: none;
    }
    .courses{
        display: none;
    }
    .para-card{
        display: none;
    }
    b{
        font-size: 30px;
        font-weight: 500;
        padding: 30px;
        margin: 8px;
        display: block;
        background-color:gainsboro ;
    }

}
/* Video Area */

.info-thesis{
    color: rgb(94, 93, 93);
    text-align: center;
    margin: 32px;
    font-size: 35px;
}
video{
    max-width: 100%;
}
.practice-video{
    padding-top: 24px;
    padding-bottom: 8px;
}

.info-container-video{
    display: flex;
    flex-direction: row;
    padding-bottom: 32px;
}
.pic-container{
    max-width: 60%;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
}

.card-info-vid{
    background-color:gainsboro ;
    margin-left: 16px;
    display: inline-flex;
}
.card-info1-vid{
    padding-left: 16px;
    display: inline-flex;
}
.mobile-video{
    display: none;
}
@media only screen and (max-width:500px) {
    .info-thesis{
        width: 100%;
        text-align: start;
        font-size: 27px;
    }
    .mobile-video{
        display: block;
        margin-bottom: 24px;
    }
.thesis-txt{
    margin-top: 32px;
}
.info-container-video{
    display: none;
}

}
/* footer */

.bottom{
    display: inline-flex;
    width: auto;
  color: rgb(68, 66, 66);
    display: flex;
    overflow:hidden ;
align-items: center;
border-top: 1px solid gainsboro;
padding-left: 24px;
}
.bottom1{
    display: inline-flex;
    float: right;
    flex: 1;
    justify-content: flex-end;
}

.bottom-footer {
font-weight: 400;
}

@media only screen and (max-width:500px) {
    .bottom1{
        display: none;
    }
    .bottom-footer{
        margin: 16px;
    }
}